<a href="https://colab.research.google.com/github/Mikhail-068/Scoring/blob/master/%D0%97%D0%B0%D0%BF%D1%83%D1%81%D0%BA_%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D0%B8_06_08_2023_%7C_%D0%A1%D1%82%D0%B0%D0%B6%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0_%D0%A1%D0%BA%D0%BE%D1%80%D0%B8%D0%BD%D0%B3_%D0%BA%D0%BB%D0%B8%D0%B5%D0%BD%D1%82%D0%BE%D0%B2_%D0%A2%D0%B0%D0%B3%D0%B0%D0%B5%D0%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from IPython.display import display
from keras.utils import to_categorical
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
import pandas as pd # Библиотека для работы с датафреймом
from tensorflow.keras import utils
import numpy as np # Библиотека для работы с массивами
import matplotlib.pyplot as plt # Будем визулизировать данные этой библиотекой
from datetime import datetime
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
pd.set_option("display.max_columns", 100)

In [3]:
df_train = pd.read_csv('/content/gdrive/MyDrive/Стажировка Скоринг/Red/db_train_2021_all.csv')
df_train.shape
df_train

,region_name,city_name,population,date of birth,gender,education,position,dt_nbki,id_nbki,issued,amount,type_credit,status_credit,period,psk,balance,current_indebtedness,expired,next_payment,last_payment,updated,term_indebtedness_body_loan,term_indebtedness_interest,term_indebtedness_other,overdue_indebtedness_body_loan,overdue_indebtedness_interest,overdue_indebtedness_other,actual_payments_24_Months,amount_surety,source_information,maximum_amount_overdue_indebtedness,date_credit_state,amount_principal_debt_repaid,availability_support,Client_class
0,38,16,29122.0,7184,0,0,6,784,3349,2989,75000.00,11,7,11201,34.927,149997.80,0.0,0.0,0.0,4638,4444,0.00,0.0,4965.70,73721.52,7510.60,7227.78,0.0,0.0,0,0.00,5702,113018.48,0,0
1,38,16,29122.0,7184,0,0,6,784,3349,3019,155740.00,19,7,2967,41.715,66261.20,0.0,0.0,0.0,4638,4444,0.00,0.0,17885.76,145740.27,4211.84,114528.02,0.0,0.0,0,0.00,5702,9999.73,0,0
2,38,16,29122.0,7184,0,0,6,784,3349,3899,5000.00,12,12,3458,0.000,6000.00,0.0,0.0,0.0,3314,1980,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.0,7,0.00,3238,5000.00,0,0
3,38,16,29122.0,7184,0,0,6,784,3349,3910,5000.00,12,12,3480,0.000,7700.00,0.0,0.0,0.0,3342,2008,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.0,7,0.00,3266,5000.00,0,0
4,38,16,29122.0,7184,0,0,6,784,3349,3937,5000.00,12,12,3509,0.000,8000.00,0.0,0.0,0.0,3372,2038,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.0,7,0.00,3296,5000.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463462,11,20,73623.0,5826,1,6,6,647,20343,6033,3990.00,12,12,5622,365.000,5591.00,0.0,0.0,0.0,5449,4115,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.0,7,0.00,5373,3990.00,0,3
463463,11,20,73623.0,5826,1,6,6,647,20343,6043,9988.00,12,7,5752,365.000,2187.59,0.0,0.0,0.0,5464,4164,9135.26,0.0,0.00,12.44,0.00,0.00,0.0,0.0,7,250.08,5417,344.39,0,3
463464,11,20,73623.0,5826,1,6,6,647,20343,5351,29767.60,19,12,8409,0.000,34360.75,0.0,0.0,0.0,4957,3626,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.0,6,29763.28,4881,29767.60,0,3
463465,55,89,93658.0,8105,0,5,10,642,553,4983,14785.84,19,3,5611,7.641,12992.78,0.0,0.0,0.0,5146,4154,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0,11981.20,5412,11585.84,0,3
463466,55,89,93658.0,8105,0,5,10,642,553,6121,40000.00,11,0,11199,27.680,3553.10,0.0,0.0,0.0,5527,4350,28003.29,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0,0.00,5451,385.00,0,3

In [4]:
df_val = pd.read_csv('/content/gdrive/MyDrive/Стажировка Скоринг/Red/db_val_2021_all.csv')
df_val.shape

(109474, 35)

In [5]:
df_test = pd.read_csv('/content/gdrive/MyDrive/Стажировка Скоринг/Red/db_test_2021_all.csv')
df_test.shape

(139992, 35)

In [6]:
df_train = df_train.sample(frac=1)
df_train

,region_name,city_name,population,date of birth,gender,education,position,dt_nbki,id_nbki,issued,amount,type_credit,status_credit,period,psk,balance,current_indebtedness,expired,next_payment,last_payment,updated,term_indebtedness_body_loan,term_indebtedness_interest,term_indebtedness_other,overdue_indebtedness_body_loan,overdue_indebtedness_interest,overdue_indebtedness_other,actual_payments_24_Months,amount_surety,source_information,maximum_amount_overdue_indebtedness,date_credit_state,amount_principal_debt_repaid,availability_support,Client_class
182407,2,464,182291.0,3511,0,1,5,645,17131,5382,14000.0,12,12,5046,365.000,32900.00,0.0,0.0,0.0,4923,3593,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,0.0,4847,14000.00,0,0
210704,24,627,1095286.0,1210,0,6,4,648,11174,4100,2000.0,12,12,3645,792.050,2400.00,0.0,0.0,0.0,3516,2182,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,0.0,3440,2000.00,2,0
389656,2,464,182291.0,11640,1,1,10,632,21262,5769,15000.0,12,12,5299,361.000,15148.00,0.0,0.0,0.0,5175,3841,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,0.0,5099,15000.00,0,2
358520,22,364,6795.0,10335,1,0,5,635,14175,6254,469223.1,5,7,9739,12.970,63.78,0.0,0.0,0.0,1,4339,469223.10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,5597,0.00,1,1
347505,33,70,26403.0,3311,0,6,4,219,2420,5746,6735.0,12,12,5381,235.713,11376.00,0.0,0.0,0.0,5258,3925,0.00,0.0,0.0,0.0,0.0,0.0,3896.0,0.0,7,0.0,5182,0.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225987,57,700,60949.0,893,0,6,4,648,750,6148,7000.0,12,12,5709,255.500,8225.00,0.0,0.0,0.0,5579,4245,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,0.0,5503,7000.00,0,0
80754,61,43,26195.0,4801,0,5,10,848,14048,5347,0.0,11,12,5606,19.827,95054.53,0.0,0.0,0.0,5149,3832,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,5090,24206.43,0,0
289364,5,485,222125.0,4216,0,0,10,75,1718,5594,15000.0,12,0,5243,365.000,13500.00,15150.0,0.0,0.0,5090,3757,15000.00,150.0,0.0,0.0,0.0,0.0,8850.0,0.0,7,0.0,5014,0.00,0,1
111049,2,464,182291.0,10604,0,1,18,652,7839,5324,20000.0,12,12,4904,365.000,33785.64,0.0,0.0,0.0,4798,3464,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,20000.0,4722,20000.00,4,0
195257,2,464,182291.0,4477,0,1,6,648,16927,6217,95400.0,12,0,5872,328.500,91574.25,0.0,0.0,0.0,5688,4354,56296.08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,0.0,5547,39103.92,0,0

In [7]:
print(np.unique(df_train['Client_class']))

[0 1 2 3]

In [8]:
df_val = df_val.sample(frac=1)

In [9]:
df_test = df_test.sample(frac=1)

In [10]:
# выделение признаков и целевой переменной
X = df_train.drop('Client_class', axis=1)
y = df_train['Client_class']
X_val = df_val.drop('Client_class', axis=1)
y_val = df_val['Client_class']
X_test = df_test.drop('Client_class', axis=1)
y_test = df_test['Client_class']

In [11]:
print(np.unique(y))

[0 1 2 3]

In [12]:
# Преобразование ответов в формат one_hot_encoding
y = to_categorical(y, num_classes = 4)
y_val = to_categorical(y_val, num_classes = 4)
y_test = to_categorical(y_test, num_classes = 4)

In [13]:
from sklearn.preprocessing import StandardScaler # Масштабирование данных

In [14]:
# Нормализуем данные
scaler = MinMaxScaler()
scaler.fit(X)
X = scaler.transform(X)
scaler.fit(X_val)
X_val = scaler.transform(X_val)
scaler.fit(X_test)
X_test_ = scaler.transform(X_test)
print(X) # Посмотрим на нормализованные данные
print(np.unique(y))

[[2.89855072e-02 5.79275905e-01 3.32773736e-02 ... 8.31389365e-01
  1.75827282e-04 0.00000000e+00]
 [3.47826087e-01 7.82771536e-01 2.02958451e-01 ... 5.90051458e-01
  2.51181832e-05 4.00000000e-01]
 [2.89855072e-02 5.79275905e-01 3.32773736e-02 ... 8.74614065e-01
  1.88386374e-04 0.00000000e+00]
 ...
 [7.24637681e-02 6.05493134e-01 4.06805642e-02 ... 8.60034305e-01
  0.00000000e+00 0.00000000e+00]
 [2.89855072e-02 5.79275905e-01 3.32773736e-02 ... 8.09948542e-01
  2.51181832e-04 8.00000000e-01]
 [2.89855072e-02 5.79275905e-01 3.32773736e-02 ... 9.51457976e-01
  4.91109713e-04 0.00000000e+00]]
[0. 1.]

In [15]:
!pip install autokeras

Requirement already satisfied: autokeras in /usr/local/lib/python3.10/dist-packages (1.1.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from autokeras) (23.1)
Requirement already satisfied: tensorflow>=2.8.0 in /usr/local/lib/python3.10/dist-packages (from autokeras) (2.13.0)
Requirement already satisfied: keras-tuner>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from autokeras) (1.3.5)
Requirement already satisfied: keras-nlp>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from autokeras) (0.6.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from autokeras) (1.5.3)
Requirement already satisfied: keras-core in /usr/local/lib/python3.10/dist-packages (from keras-nlp>=0.4.0->autokeras) (0.1.3)
Requirement already satisfied: absl-py in /usr/local/lib/python3.10/dist-packages (from keras-nlp>=0.4.0->autokeras) (1.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from keras-nlp>=0.4.0->autokeras) (1.22.4)
Requirement already satisfied: regex in /usr/local/lib/python3.10/dist-packages (from keras-nlp>=0.4.0->autokeras) (2022.10.31)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from keras-nlp>=0.4.0->autokeras) (13.4.2)
Requirement already satisfied: tensorflow-text in /usr/local/lib/python3.10/dist-packages (from keras-nlp>=0.4.0->autokeras) (2.13.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner>=1.1.0->autokeras) (2.27.1)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.10/dist-packages (from keras-tuner>=1.1.0->autokeras) (1.0.5)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (1.6.3)
Requirement already satisfied: flatbuffers>=23.1.21 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (23.5.26)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (1.56.2)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (3.8.0)
Requirement already satisfied: keras<2.14,>=2.13.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (2.13.1)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (16.0.6)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (3.3.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (3.20.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (1.16.0)
Requirement already satisfied: tensorboard<2.14,>=2.13 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (2.13.0)
Requirement already satisfied: tensorflow-estimator<2.14,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (2.13.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (2.3.0)
Requirement already satisfied: typing-extensions<4.6.0,>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (4.5.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow>=2.8.0->autokeras) (0.32.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->autokeras) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->autokeras) (2022.7.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow>=2.8.0->autokeras) (0.41.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.14,>=2.13->tensorflow>=2.8.0->autokeras) (2.17.3)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.14,>=2.13->tensorflow>=2.8.0->autokeras) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.14,>=2.13->tensorflow>=2.8.0->autokeras) (3.4.4)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.14,>=2.13->tensorflow>=2.8.0->autokeras) (0.7.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.14,>=2.13->tensorflow>=2.8.0->autokeras) (2.3.6)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner>=1.1.0->autokeras) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner>=1.1.0->autokeras) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner>=1.1.0->autokeras) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner>=1.1.0->autokeras) (3.4)
Requirement already satisfied: namex in /usr/local/lib/python3.10/dist-packages (from keras-core->keras-nlp>=0.4.0->autokeras) (0.0.7)
Requirement already satisfied: dm-tree in /usr/local/lib/python3.10/dist-packages (from keras-core->keras-nlp>=0.4.0->autokeras) (0.1.8)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras-nlp>=0.4.0->autokeras) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras-nlp>=0.4.0->autokeras) (2.14.0)
Requirement already satisfied: tensorflow-hub>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow-text->keras-nlp>=0.4.0->autokeras) (0.14.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow>=2.8.0->autokeras) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow>=2.8.0->autokeras) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow>=2.8.0->autokeras) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow>=2.8.0->autokeras) (1.3.1)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich->keras-nlp>=0.4.0->autokeras) (0.1.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.14,>=2.13->tensorflow>=2.8.0->autokeras) (2.1.3)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow>=2.8.0->autokeras) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow>=2.8.0->autokeras) (3.2.2)

In [16]:
import autokeras as ak

Using TensorFlow backend

In [ ]:
search = ak.AutoModel(
    inputs=[ak.StructuredDataInput()],
    outputs=[ak.ClassificationHead(loss="categorical_crossentropy", metrics=["accuracy"])],
    objective="accuracy",
    tuner="hyperband",
    overwrite=True,
    max_trials=10,
)
search.fit(X,                              # Обучающая выборка
           y,                              # Метки классов обучающей выборки
           epochs=20,                      # Количество эпох
           batch_size=512,                 # Размер подвыборки для одного шага по данным на эпохе
           validation_data=(X_val, y_val), # Проверочная выборка и метки классов проверочной выборки)
           verbose=1)

Trial 4 Complete [00h 27m 02s]
val_loss: 1.6745936870574951

Best val_loss So Far: 1.6745936870574951
Total elapsed time: 02h 38m 38s

Search: Running Trial #5

Value             |Best Value So Far |Hyperparameter
False             |False             |structured_data_block_1/normalize
False             |False             |structured_data_block_1/dense_block_1/use_batchnorm
1                 |1                 |structured_data_block_1/dense_block_1/num_layers
32                |32                |structured_data_block_1/dense_block_1/units_0
0.25              |0.25              |structured_data_block_1/dense_block_1/dropout
32                |32                |structured_data_block_1/dense_block_1/units_1
0                 |0                 |classification_head_1/dropout
adam              |adam              |optimizer
2e-05             |0.001             |learning_rate

In [ ]:
search.save('/content/gdrive/MyDrive/Стажировка Скоринг/model_search.keras')

In [ ]:
loss, acc = search.evaluate(X_test, y_test, verbose=0)

In [ ]:
acc